<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Procedure</title>
	<link rel="stylesheet" href="static/procedure.css">
</head>
<body>
  
		<div class="title">
      <a href="home.html"><button class="but">Back</button></a>
      
        <img src="static/procedure.svg" width="20%" height="20%" class="img">
          <header><h1>VIEW PROCEDURE</h1><br></header>
          
             <h2>Check the eligibility criteria</h2>
             <br><li>Maximum age to apply is 21 Years, not exceeeding 65 years at the time of loan resume</li>
             <li>You must be Indian resident and citizens</li>
             <li>You must have necessary documents required for the personal loan along with duty filled and signed application form </li>
                <br><h2 class="cons">Considerations before applying for loan</h2>
                <br><li>Maintain your credit score</li>
                <li>Plan the repayment beforehand</li>
                <li>Be familiar with loan details</li>
                <li>Organise your documents</li>
                <li>Go through the terms and conditions of the loan</li>
                <br><h2 class="cons">Steps to be followed</h2>
                <br><li>Start Applying for loan</li>
                <li>Estimate ypur EMIs</li>
                <li>Fill the application form</li>
                <li>Provide your correct details</li>
                <li>Prepare your documents</li>
                <li>Get funds in your bank account</li>

    </div>
                
</body>
</html>